anyascii
asgiref
asttokens
backcall
beautifulsoup4
black
certifi
charset-normalizer
click
colorama
cssbeautifier
decorator
defusedxml
Django
django-extensions
django-filter
django-modelcluster
django-permissionedforms
django-taggit
django-treebeard
djangorestframework
djlint
draftjs-exporter
EditorConfig
et-xmlfile
executing
filetype
html-tag-names
html-void-elements
html5lib
idna
ipython
jedi
jsbeautifier
json5
kaleido
l18n
lxml
matplotlib-inline
mypy-extensions
numpy
openpyxl
packaging
pandas
parso
pathspec
pickleshare
Pillow
pillow-heif
platformdirs
plotly
polib
prompt-toolkit
psycopg2
pure-eval
Pygments
python-dateutil
pytz
PyYAML
regex
requests
six
soupsieve
sqlparse
stack-data
style
telepath
tenacity
tomli
tqdm
traitlets
typing_extensions
tzdata
Unidecode
update
urllib3
validators
wagtail
wagtail-generic-chooser
wagtail-localize
wcwidth
webencodings
Willow
