{% load static wagtailcore_tags switcher_tags %}
{% block extra_css %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/switcher.css' %}" />
{% endblock extra_css %}
{% static "icons/flags.svg" as flags %}
{% language_switcher as switcher %}
<li class="nav-item dropdown switcher-menu">
    <a class="nav-link dropdown-toggle"
       title="{{ switcher.current.get_display_name }}"
       data-bs-toggle="dropdown"
       role="button"
       aria-haspopup="true"
       aria-expanded="false">
        <svg class="switcher-flag" viewBox="0 0 640 480">
            <use href="{{ flags }}#{{ switcher.current.language_code }}" />
        </svg>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        {% for lang in switcher.alternatives %}
            <li class="dropdown-item">
                <a class="nav-link"
                   href="{{ lang.url }}"
                   title="{{ lang.name }}"
                   rel="nofollow">
                    <svg class="switcher-flag" viewBox="0 0 640 480">
                        <use href="{{ flags }}#{{ lang.code }}" />
                    </svg>
                    <div>{{ lang.name }}</div>
                </a>
            </li>
        {% endfor %}
    </ul>
</li>
